* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

button {
  cursor: pointer;
}

p {
  color: #C0C0C0;
}

h1 {
  font-size: 54px;
  line-height: 59px;
  font-weight: 400;
}

h2 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.link {
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
}

main {
  padding-top: 90px;
}

button {
  background: #ffffff;
  border-radius: 14px;
  padding: 9px 10px 13px;
  border: 1px solid;
  height: 42px;
}

.btn {
  color: #000000;
  outline: none;
  font-size: 16px 20px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.4px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.btn-2 {
  color: #000000;
  outline: none;
  letter-spacing: 0.4px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  padding-left: 43px;
}
.btn-2 svg {
  position: absolute;
  top: 4px;
  left: 4px;
}

.btn-3 {
  outline: none;
  background: #F9FAFB;
  border: 1px solid #E5E7EB;
  border-radius: 12px;
  position: relative;
  height: 52px;
  width: 100%;
  max-width: 458px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.small-container {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-right: 62px;
}

header {
  height: 90px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  background: #181818;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
header .desktop-nav {
  display: none;
}
@media (min-width: 768px) {
  header .desktop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }
}
header nav a:hover {
  color: rgba(183, 175, 175, 0.65);
  border-bottom-width: 3px;
}
header .btn {
  padding: 9px 20px 13px;
  width: 155px;
  font-size: 16px 20px;
  line-height: 20px;
  font-weight: 400;
}
header .img {
  width: 128px;
  height: 31px;
  z-index: 10;
  position: relative;
}
header .nav-title {
  margin-right: 24px;
  font-size: 13px;
  line-height: 20px;
}
header .flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}

/*-----------sec-1--------------*/
.sec-1 {
  background-image: url("./img/sec-1-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 716px;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.sec-1 .container {
  position: relative;
}
.sec-1 h4 {
  color: #C0C0C0;
  text-align: center;
  padding-top: 466px;
}
.sec-1 h1 {
  text-align: center;
  margin-bottom: 18px;
}
.sec-1 p {
  max-width: 580px;
  margin: 18px auto 13px;
  text-align: center;
}
.sec-1 .svg-sec1 {
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 16px;
}
.sec-1 .svg-sec1 div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

/*----------sec-4---------------*/
.sec-4 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.sec-4 .left .container-gear {
  text-align: left;
  margin: 113px 60px;
  padding: 60px 46px 40px 40px;
}
.sec-4 .left .container-gear h4 {
  color: #C0C0C0;
  font-size: 14px 20px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 6px;
}
.sec-4 .left .container-gear h3 {
  font-size: 28px 32px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 14px;
}
.sec-4 .left .container-gear p {
  font-size: 14px 20px;
  line-height: 20px;
  font-weight: 400;
  padding-bottom: 20px;
}
.sec-4 .right {
  background-image: url("./img/img_sec-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-4 .right .svg-4 {
  margin-top: 484px;
  padding-bottom: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 16px;
}

/*----------sec-5---------------*/
.sec-5 {
  background-image: url("./img/background_img_sec-5.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: inherit;
  gap: 0;
}
.sec-5 h4 {
  margin-top: 260px;
}
.sec-5 p {
  margin-bottom: 203px;
  font-size: 14px 20px;
  line-height: 20px;
  font-weight: 400;
}
.sec-5 .svg-object {
  margin: 544px 40px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  position: absolute;
}
.sec-5 .svg-object div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
}

/*----------sec-6---------------*/
.sec-6 {
  margin: 0 auto;
  text-align: center;
  padding: 120px 0 100px;
}
.sec-6 .container {
  padding-bottom: 40px;
}
.sec-6 .container h2 {
  margin: 7px 0 15px;
}
.sec-6 .container h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #C0C0C0;
  padding-bottom: 82px;
}
.sec-6 .container .flex-clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 109px;
}

/*----------sec-8---------------*/
.sec-8 {
  width: 100%;
  margin: 113px 0 108px;
}
.sec-8 .small-container3 {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}
.sec-8 .small-container3 h2 {
  font-size: 40px;
  line-height: 42px;
  font-weight: 400;
}
.sec-8 .small-container3 h3 {
  margin: 15px 0 22px;
  color: #C0C0C0;
}

/*----------footer---------------*/
footer {
  width: 100%;
  height: 652px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .flex3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
}
footer .flex3 .left-side3 {
  width: 50%;
}
footer .flex3 .left-side3 p {
  margin: 56px 0 104px;
}
footer .flex3 .right-side3 {
  width: 50%;
}
footer .flex3 .right-side3 ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: end;
  gap: 20px;
}
footer .flex3 .right-side3 ul li {
  margin: 56px 0 104px;
}
footer ul {
  list-style: none;
}
footer li {
  margin-top: 10px;
  font-size: 13px 20px;
  line-height: 20px;
  font-weight: 400;
}
footer h4 {
  color: #C0C0C0;
}
footer .container {
  width: 1168px;
}
footer .flex {
  width: 100%;
  border-bottom: 2px solid #ffffff;
  display: flex;
}
footer .flex .left-side {
  width: 50%;
}
footer .flex .left-side p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 20px;
}
footer .flex .right-side {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 55px;
  width: 50%;
  margin-bottom: 36px;
}
footer .flex2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 32px;
  border-bottom: 2px solid #ffffff;
}
footer .flex2 .left-side2 {
  width: 50%;
  color: #ffffff;
  font-size: 13px 20px;
  line-height: 20px;
  font-weight: 400;
  margin: 36px 0 20px;
}
footer .flex2 .left-side2 h4 {
  margin-bottom: 20px;
}
footer .flex2 .right-side2 {
  width: 50%;
  display: flex;
  justify-content: end;
}
footer .flex2 .right-side2 svg {
  position: absolute;
  top: 11px;
  right: 6px;
}

@media (min-width: 320px) and (max-width: 767px) {
  #toggle {
    display: none;
  }
  /**
    Hamburger
  **/
  .hamburger {
    position: absolute;
    top: 5em;
    right: 10%;
    margin-left: -2em;
    margin-top: -45px;
    width: 2em;
    height: 45px;
    z-index: 5;
  }
  .hamburger div {
    position: relative;
    width: 3em;
    height: 5px;
    border-radius: 3px;
    background-color: #ffffff;
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  /**
  Nav Styles
  **/
  .nav {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #282525;
    top: -100%;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }
  .nav .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  nav {
    text-align: left;
    margin-left: 20%;
    margin-top: 100px;
  }
  nav .link {
    font-size: 25px;
  }
  nav a {
    position: relative;
    text-decoration: none;
    color: #ffffff;
    font-size: 5em;
    display: inline-block;
    margin-top: 1.25em;
    transition: color 0.2s ease-in-out;
    letter-spacing: 1px;
  }
  nav a:before {
    content: "";
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: white;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  nav a:hover {
    color: white;
  }
  nav a:hover:before {
    height: 100%;
  }
  /**
  Animations
  **/
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -5px;
  }
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }
  .container {
    padding: 0 20px;
  }
  .small-container {
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  span {
    font-size: 12px 18px;
    line-height: 20px;
    font-weight: 400;
  }
  .sec-1 .svg-sec1 {
    justify-content: center;
    padding-right: 0;
    padding-bottom: 40px;
    width: 100%;
  }
  .sec-4 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .sec-4 .left .container-gear {
    text-align: center;
    max-width: 580px;
    padding: 0;
  }
  .sec-5 .small-container {
    text-align: center;
  }
  .sec-5 .svg-object {
    font-size: 12px;
    gap: 10px;
    justify-content: center;
    margin: 544px 0 40px;
    padding-bottom: 40px;
    width: 100%;
  }
  .sec-6 {
    margin: 50px 0 0 0;
    padding: 50px 0 0;
  }
  .sec-6 .container .flex-clients {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .sec-8 {
    padding: 50px 20px;
    margin: 50px 0;
  }
  .sec-8 .small-container3 h2 {
    font-size: 32px;
    line-height: 35px;
    font-weight: 400;
  }
  .sec-8 .small-container3 h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
  }
  footer .flex3 {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  footer .flex3 .left-side3 {
    width: 100%;
  }
  footer .flex3 .left-side3 p {
    margin: 20px 0 20px;
    text-align: center;
  }
  footer .flex3 .right-side3 {
    width: 100%;
  }
  footer .flex3 .right-side3 ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }
  footer .flex3 .right-side3 ul li {
    margin-top: 0;
  }
  footer .flex {
    width: 100%;
    flex-direction: column;
  }
  footer .flex .left-side {
    width: 100%;
    text-align: center;
  }
  footer .flex .left-side p {
    margin-bottom: 30px;
  }
  footer .flex .right-side {
    width: 100%;
    justify-content: center;
    margin-bottom: 36px;
    gap: 30px;
  }
  footer .flex2 {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  footer .flex2 .left-side2 {
    width: 100%;
    margin: 0 auto;
  }
  footer .flex2 .left-side2 h4 {
    margin-top: 40px;
    text-align: center;
  }
  footer .flex2 .left-side2 p {
    margin-top: 20px;
    text-align: center;
  }
  footer .flex2 .right-side2 {
    width: 100%;
    justify-content: center;
  }
  footer .flex2 .right-side2 .btn-3 {
    max-width: 310px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .mobile {
    display: none;
  }
  .sec-6 {
    margin: 50px 0 0 0;
    padding: 50px 0 0;
  }
  .sec-6 .container .flex-clients {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
@media (min-width: 1025px) and (max-width: 1279px) {
  .mobile {
    display: none;
  }
  .sec-6 {
    margin: 50px 0 0 0;
    padding: 50px 0 0;
  }
  .sec-6 .container .flex-clients {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
}
@media (min-width: 1280px) {
  .mobile {
    display: none;
  }
}
.roller-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  /*  display: flex;

   */
  justify-content: center;
  align-items: center;
}
.roller-wrapper .roller {
  color: #282525;
  position: relative;
  display: none;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.roller-wrapper .roller div {
  transform-origin: 40px 40px;
  animation: roller 1.2s linear infinite;
}
.roller-wrapper .roller div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgba(168, 198, 238, 0.68);
}
.roller-wrapper .roller div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.roller-wrapper .roller div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.roller-wrapper .roller div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.roller-wrapper .roller div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.roller-wrapper .roller div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.roller-wrapper .roller div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.roller-wrapper .roller div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.roller-wrapper .roller div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.roller-wrapper .roller div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.roller-wrapper .roller div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.roller-wrapper .roller div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.roller-wrapper .roller div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

.loading .wrapper {
  filter: blur(10px);
}
.loading .roller {
  display: block;
}

@keyframes roller {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}
@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

/*# sourceMappingURL=style.css.map */
